<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>  and welcome !</h1>
    <p>
      Happy to see that you will join: <%= @event.title %>.
    </p>
    <p>
      Find even more events near you by log in to your account: <%= @url %>.
    </p>
    <p> See you!
  </body>
</html>